@import 'config';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-weight: normal;
}
body{
    font-size: 16px;
}

h1{
    font-family: 'Qillo';
    font-size: clamp(3rem, 8vw, 7rem);
    line-height: .7em;
}
h2{
    font-family: 'Gotham Bold';
    font-size: 3rem;
    font-size: clamp(1.5rem, 5vw, 4rem);
    letter-spacing: .05em;
}
h3{
    font-family: 'Vultures';
    font-size: 5rem;
    font-size: clamp(3rem, 5vw, 5rem);
    line-height: .5em;
    transform: translateY(-40%);
}
h4{
    font-family: 'Gotham Bold';
    font-size: .5rem;
    font-size: clamp(.8rem, 5vw, 1.5rem);
    letter-spacing: .05em;
}
p{
    font-family: 'Gotham Book';
    font-size: 1rem;
    font-size: clamp(.6rem, 8vw, .8rem);
}
a, h6{
    font-family: 'Gotham Book';
    font-size: clamp(.6rem, 2vw, .8rem);
    letter-spacing: .1em;
    text-decoration: none;
    color: black;
}